{% extends "base.html" %}

{% block content %}
   <div class="container">
       <div class="row">
           <div class="col-md-2">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Suositut trendit</h2>
                    </div>
                </div>
           </div>
           <div class="col-md-6">
               <div class="row">
                   <div class="col-lg-12">
                       <textarea id="tviitContent"></textarea>
                       <button id="tviitSubmit" type="button">Send</button>
                   </div>
               </div>
               <div class="row tvit-box">
                   <div class="col-lg-2">

                   </div>
                   <div class="col-lg-10">
                       <div class="row">
                           <div class="col-lg-12">
                               Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu. Sed arcu lectus auctor vitae, consectetuer et venenatis eget velit. Sed augue orci, lacinia eu tincidunt et eleifend nec lacus. Donec ultricies nisl ut felis, suspendisse potenti.
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-lg-2">
                               <button type="button">ReTvit</button>
                           </div>
                           <div class="col-lg-2">
                               <button type="button">Reply</button>
                           </div>
                           <div class="col-lg-2">
                               <button type="button">Like</button>
                           </div>
                       </div>
                   </div>
               </div>

           </div>
           <div class="col-md-2">
               <div class="col-lg-12">
                        <h2>{{ request.user.first_name }} {{ request.user.last_name }} </h2>
               </div>
           </div>
       </div>
   </div>

{% endblock %}