{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{% trans "Trending tags" %}</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row tviit-form">
                    <div class="col-lg-12">
                        <form id="tviitForm" action="{% url 'tviit:create_tviit' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="error-text">{{ tviit_form.content.errors }}</div>
                                {{ tviit_form.content }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="fileUpload btn btn-primary">
                                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                                    {{ tviit_form.image }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-primary" id="submitTviit" type="button">Tviit</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="row basebox" style="margin-top: 10px">
                    <div class="col-lg-12">
                        {% for tviit in tviits %}
                            <div class="row tvit-box">
                                <div class="col-lg-2">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <img class="profile-picture" src="{{ tviit.sender.userprofile.get_picture }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <a href="{% url "profile:profile_view" tviit.sender.username %}">{{ tviit.sender.first_name }} {{ tviit.sender.last_name }}</a>
                                            @{{ tviit.sender.username }} {{ tviit.created|date:'Y-m-d H:i' }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 tviit-content">
                                            {{ tviit.content }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></button>
                                        </div>
                                        <div class="col-lg-2">
                                            <button class="reply-tviit-button btn btn-info" type="button"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row reply-tviit">
                                <form class="replyTviitForm" action="{% url 'tviit:reply_tviit' %}" method="post"
                                      enctype="multipart/form-data">
                                    <input type="hidden" name="reply" value="{{ tviit.uuid }}">
                                    {% csrf_token %}
                                    {{ tviit_form.content }}
                                    {{ tviit_form.image }}
                                    <button class="submitReply" type="button">Tviit</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row basebox">
                    <div class="col-lg-12">
                        <h3>{% trans "People you may know" %}</h3>
                        {% for user in random_users %}
                            <div class="row user-listing" data-user="{{ user.username }}">
                                <div class="col-lg-3">
                                    <img class="profile-picture" src="{{ user.userprofile.get_picture }}"
                                         alt="{{ user.username }}">
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ user.first_name }} {{ user.last_name }} <span
                                                class="username-text">@{{ user.username }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button data-user="{{ user.username }}" type="button" class="follow-button btn btn-info"><span
                                                    class="glyphicon glyphicon-plus"
                                                    aria-hidden="true"></span>{% trans "Follow" %}</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}