{% extends "base.html" %}
{% load staticfiles %}
{% load bleach_tags %}
{% load i18n %}


{% block content %}
    <div class="container">
        <a href="{% url "profile:profile_own_view" %}" class="btn btn-info">{% trans "Back" %}</a>
        <h2>{% trans "Edit Profile" %}</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="profileForm" action="{% url 'profile:profile_edit' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-error">{{ form.first_name.errors }}</div>
                            <label for="id_first_name">{% trans "First Name" %}</label>
                            {{ form.first_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-error">{{ form.last_name.errors }}</div>
                        <label for="id_last_name">{% trans "Last Name" %}</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                {% if profile.picture %}
                                    <img src="{{ profile.picture.url }}" class="profile-picture-big" alt="Profile pic">
                                {% else %}
                                    <img class="profile-picture" src="{% static "images/placeholder_user.svg" %}"
                                         alt="Profile pic">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                {% trans "Your profile picture will be cropped into 200x200 pixels" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-error">{{ form.picture.errors }}</div>
                                {{ form.picture }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label for="id_description">{% trans "Description" %}</label>
                        <div class="form-error">{{ form.description.errors }}</div>
                        {{ form.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label for="id_location">{% trans "Location" %}</label>
                        <div class="form-error">{{ form.location.errors }}</div>
                        {{ form.location }}
                    </div>
                </div>
            </div>
            <div style="min-height: 600px" class="col-lg-6 left-divider">
                <input type="submit" class="btn btn-success" value="{% trans "Save" %}">
                </form>
                <button type="button" id="deleteAccount-button" class="btn btn-danger" data-toggle="modal"
                        data-target="#confirmDelete">{% trans "Delete Account" %}
                </button>
            </div>
        </div>
    </div><!-- Container -->
    <!-- Delete confirmation Modal -->
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="confirmationLabel">{% trans "Confirmation" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "Do you really want to delete your account? (This will also delete your tviits)" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="button" onclick="deleteAccount()" class="btn btn-danger">{% trans "Delete Account" %}</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function deleteAccount() {
            $.ajax({
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                url: "/profile/delete/",
                success: function (response) {
                    window.location.replace("/");
                }
            });
        }
    </script>
    <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#id_description',
            plugins : 'advlist autolink link lists charmap preview'
        });
    </script>
{% endblock %}